html {
    &.image-background-color-picker-applicable > body {
        background: initial !important;

        & > img {
            background-image: initial !important;
            background-size: initial !important;
            background-position: initial !important;
            background: initial !important;
        }
    }

    &.image-background-color-picker-checkerboard {
        background-color: darkgrey;
        background-image: linear-gradient(45deg, grey 25%, transparent 25%, transparent 75%, grey 75%, grey),
            linear-gradient(45deg, grey 25%, transparent 25%, transparent 75%, grey 75%, grey);
        background-size: 4vmin 4vmin;
        background-position: 0 0, 2vmin 2vmin;
    }
}
